<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>958286840544-vdk8ee4mhv073oi2r2gika8lbhv7kceg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958286840544-vdk8ee4mhv073oi2r2gika8lbhv7kceg</string>
	<key>API_KEY</key>
	<string>AIzaSyCImkdYKI7iB82mVtdugIyEFkb9poyeIa4</string>
	<key>GCM_SENDER_ID</key>
	<string>958286840544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cat.sebasbad.Sound-Demo</string>
	<key>PROJECT_ID</key>
	<string>ios-sound-demo-73358</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-sound-demo-73358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:958286840544:ios:534455a7b6f828e5</string>
	<key>DATABASE_URL</key>
	<string>https://ios-sound-demo-73358.firebaseio.com</string>
</dict>
</plist>